*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: red;
}
img{
    border: 0;
    vertical-align: middle;
}
em,i{
    font-style: normal;
}