.w{
    width: 1200px;
    margin: 0 auto;
}
header{
    height: 84px;
    border-bottom: 2px solid #c81523;
}
.logo{
    padding-top: 18px;
}
.registerarea{
    height: 522px;
    border: 1px solid #ccc;
    margin-top: 20px;
}
.registerarea h3{
    height: 42px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
    line-height: 42px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 400;
}
.login{
    float: right;
    font-size: 14px;
}
.login a{
    color: #c81523;
}
.reg-form{
    width: 600px;
    margin: 50px auto 0;   
}
.reg-form ul li{
    margin-bottom: 20px;
}
.reg-form ul li label{
    display: inline-block;
    width: 88px;
    text-align: right;
}
.reg-form ul li .inp{
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
}
.error{
    color: #c81523;
}
.error-icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/error.png) no-repeat;
    /* 图片与文字居中对齐 */
    vertical-align: middle;
}
.succeess{
    color: green;
}
.succeess-icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/success.png) no-repeat;
    /* 图片与文字居中对齐 */
    vertical-align: middle;
}
.safe{
    padding-left:150px;
    font-size: 12px;
}
.safe em{
    padding: 0 12px;
}
.ruo{
    background-color: #de1111;
}
.zhong{
    background-color: #40b83f;
}
.qiang{
    background-color: #f79100;
}
.agree{
    padding-left: 100px;
}
.agree input{
    vertical-align: middle;
}
.agree a{
    color: #1ba1e6;
}
.btn{
    width: 200px;
    height: 34px;
    background-color: #c81623;
    color: #ececec;
    border: none;
    margin: 30px 0 0 70px;
}